.table{
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 30px;
}

.empty{
  margin-top: 1rem;
  font-size: 20px;
  color: rgb(196, 196, 196);
  display: flex;
  justify-content: center;
}
