@use '@angular/material' as mat;
@import '/src/styles.scss';

$typography-config: mat.get-typography-config($medpr-angular-theme);
$font-family: mat.font-family($typography-config);

.row{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-top: 1rem;
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action{
  display: flex;
  flex-direction: row;
}

.left{
  margin-right: 1rem;
}

mat-spinner{
  zoom: 0.4;
}

mat-icon{
  zoom: 0.8;
  padding-right: 0.5rem;
}
