################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Logs
/MedprAbstractions/bin/Debug/net6.0
/MedprBusiness/bin/Debug/net6.0
/MedprCore/bin/Debug/net6.0
/MedprRepositories/bin/Debug/net6.0
/MedprMVC/bin/Debug/net6.0
/.vs/Medpr/FileContentIndex
