@model VaccinationModel
@{
    ViewData["Title"] = "Add vaccination to Medpr";
}

<div>
    <h1>Add vaccination</h1>

    <form asp-controller="Vaccinations" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input asp-for="Date" type="text" class="form-control" id="date">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="daysOfProtection" class="form-label">Days of protection</label>
            <input asp-for="DaysOfProtection" class="form-control" id="daysOfProtection">
            <span asp-validation-for="DaysOfProtection" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="vaccine" class="form-label">Vaccine</label>
            <select asp-for="Vaccine" asp-items="@Model.Vaccines" id="vaccine">
                 <option selected="selected" disabled="disabled">Select Source Type</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="user" class="form-label">User</label>
            <select asp-for="User" asp-items="@Model.Users" id="user">
                 <option selected="selected" disabled="disabled">Select Source Type</option>
            </select>
        </div>


        <input type="submit" class="btn btn-primary" value="Submit">

    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


