@model VaccinationModel

@{
    ViewData["Title"] = "Delete vaccination";
}

<table class="table table-borderless">
    <tbody>
        <tr>
            <td>
                @{
                    await Html.RenderPartialAsync("VaccinationPartial", Model);
                }
            </td>
            <td>
                <form asp-controller="Vaccinations" asp-action="Delete" method="post">
                    <input type="submit" name="@Model.Id" class="btn btn-primary" value="Yes">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" href="~/vaccinations/details/@Model.Id">No</a>
            </td>
        </tr>
    </tbody>
</table>