@model List<VaccinationModel>

@{
    ViewData["Title"] = "All vaccinations";
}

<div class="container text-center">
    
    @if (Model != null)
    {
        foreach (var vaccination in Model)
        {
            <div class="row align-items-center">
                <div class="col-10">
                    @{
                        await Html.RenderPartialAsync("VaccinationPartial", vaccination);
                    }
                </div>
                <div class="col-2">
                    <a class="btn btn-primary" href="~/vaccinations/details/@vaccination.Id">Read more</a>
                </div>
            </div>
            <br />
        }
    }
    else
    {
        <h2>No vaccinations found in database</h2>
        <h4>Add new vaccination to this app?</h4>
    }
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Vaccinations">Add vaccination</a>
        </div>
    </div>
</div>
