@model List<VaccinationModel>

@{
    ViewData["Title"] = "All vaccinations";
}

<table class="table table-borderless">
    <tbody>
        @if (Model != null)
        {
            foreach (var vaccination in Model)
            {
                <tr>
                    <td>
                        @{await Html.RenderPartialAsync("VaccinationPartial", vaccination);}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="~/vaccinations/details/@vaccination.Id">Read more</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <h2>No vaccinations found in database</h2>
            <h4>Add new vaccination to this app?</h4>
        }
    </tbody>
</table>

<br>
<br>
<div>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Vaccinations">Add vaccination</a>
</div>
