<div class="container">
  <!-- User card -->
  <mat-card *ngIf="user" class="info">
    <profile-info [user]="user"></profile-info>
  </mat-card>

  <div *ngIf="user" class="connect">
    <mat-icon color="accent">attachment</mat-icon>
  </div>

  <!-- Doctor card -->
  <mat-card *ngIf="doctor" class="info">
    <doctor-info [doctor]="doctor"></doctor-info>
  </mat-card>

  <div *ngIf="doctor" class="connect">
    <mat-icon color="accent">attachment</mat-icon>
  </div>

  <!-- Drug card -->
  <mat-card *ngIf="drug" class="info">
    <drug-info [drug]="drug"></drug-info>
  </mat-card>

  <div *ngIf="drug" class="connect">
    <mat-icon color="accent">attachment</mat-icon>
  </div>

  <mat-card [class.selected]="selected" class="main">
    <!-- Blank creation -->
    <div *ngIf="!prescription && !selected">
      <mat-card-content>
        <button mat-flat-button (click)="selectToggle()">
          <mat-icon>add</mat-icon>
          Create from blank
        </button>
      </mat-card-content>
    </div>

    <!-- Selected blank creation  -->
    <div *ngIf="!prescription && selected">
      <create-prescription (deselect)="selectToggle()"></create-prescription>
    </div>

    <!-- Prescription -->
    <div *ngIf="prescription && !selected">
      <mat-card-header>
        <mat-card-title class="row">
          <div>First: {{prescription.date | date:'mediumDate'}}</div>
          <button mat-mini-fab color="warn" class="edit-button" (click)="selectToggle()">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle *ngIf="!endedBeforeToday" class="row">{{daysLeft}} days left</mat-card-subtitle>
        <mat-card-subtitle *ngIf="endedBeforeToday" class="row">Protection ended {{daysLeft}} days ago</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>Last: {{prescription.endDate | date:'mediumDate'}} <mat-icon>access_time</mat-icon></mat-card-content>
      <mat-card-content>{{prescription.dose}} units per day</mat-card-content>
    </div>

    <!-- Selected prescription  -->
    <div *ngIf="prescription && selected">
      <edit-prescription [prescription]="prescription"
        (deselect)="selectToggle()">
      </edit-prescription>
    </div>
  </mat-card>
</div>








