<div @insert class="container">
  <mat-card @insert *ngIf="user" class="vaccinationInfo">
    <profile-info [user]="user"></profile-info>
  </mat-card>

  <div *ngIf="user" class="connect">
    <mat-icon color="accent">attachment</mat-icon>
  </div>

  <mat-card @insert *ngIf="vaccine"  class="vaccinationInfo">
    <vaccine-info [vaccine]="vaccine"></vaccine-info>
  </mat-card>

  <div *ngIf="vaccine" class="connect">
    <mat-icon color="accent">attachment</mat-icon>
  </div>

  <mat-card [class.selected]="selected" class="main">
    <!-- Blank creation -->
    <div *ngIf="!vaccination && !selected">
      <mat-card-content>
        <button mat-flat-button (click)="selectToggle()">
          <mat-icon>add</mat-icon>
          Create from blank
        </button>
      </mat-card-content>
    </div>

    <!-- Selected blank creation  -->
    <div *ngIf="!vaccination && selected">
      <create-vaccination (deselect)="selectToggle()"></create-vaccination>
    </div>

    <!-- Vaccination -->
    <div *ngIf="vaccination && !selected">
      <mat-card-header>
        <mat-card-title class="row">
          <div>Done: {{vaccination.date | date:'fullDate'}}</div>
          <button mat-mini-fab color="warn" class="edit-button" (click)="selectToggle()">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle *ngIf="!endedBeforeToday" class="row">{{daysLeft}} days left</mat-card-subtitle>
        <mat-card-subtitle *ngIf="endedBeforeToday" class="row">Protection ended {{daysLeft}} days ago</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>Until: {{endDate}}<mat-icon>access_time</mat-icon></mat-card-content>
    </div>

    <!-- Selected vaccination  -->
    <div *ngIf="vaccination && selected">
      <edit-vaccination [vaccination]="vaccination"
        (deselect)="selectToggle()">
      </edit-vaccination>
    </div>
  </mat-card>
</div>








