@model List<PrescriptionModel>

@{
    ViewData["Title"] = "All prescriptions";
}

<div class="container text-center">
        @if (Model != null)
        {
            foreach (var prescription in Model)
            {
                <div class="row align-items-center">
                    <div class="col-10">
                        @{
                            await Html.RenderPartialAsync("PrescriptionPartial", prescription);
                        }
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" href="~/prescriptions/details/@prescription.Id">Read more</a>
                    </div>
                </div>
                <br>
            }
        }
        else
        {
            <div class="row align-items-center">
                <div class="col">
                    <h2>No prescriptions found in database</h2>
                    <h4>Add new prescription to this app?</h4>
                </div>
            </div>
        }
    <div class="row align-items-center justify-content-md-center">
        <a class="btn btn-primary col-sm-4" asp-action="Create" asp-controller="Prescriptions">Add prescription</a>
    </div>
</div>
