<mat-toolbar color="primary">
  <div *ngIf="!user">
      <button mat-flat-button class="nav-icon" color="accent" disabled>Medpr</button>
      <button mat-flat-button class="nav-icon" color="primary" routerLink="/signup">SignUp</button>
      <button mat-flat-button class="nav-icon" color="primary" routerLink="/signin">SignIn</button>
  </div>
  <div class="row" *ngIf="user">
    <div class="right-aligned">
      <button mat-mini-fab class="nav-icon" color="primary" routerLink="/"><mat-icon>local_pharmacy</mat-icon></button>
      <button mat-flat-button class="nav-icon" color="primary" routerLink="/drugs">Drugs</button>
      <button mat-flat-button class="nav-icon" color="primary" routerLink="/doctors">Doctors</button>
      <button mat-flat-button class="nav-icon" color="primary" routerLink="/vaccines">Vaccines</button>
      <button mat-flat-button class="nav-icon" color="primary" routerLink="/appointments">Appointments</button>
      <button mat-flat-button class="nav-icon" color="primary" routerLink="/vaccinations">Vaccinations</button>
      <button mat-flat-button class="nav-icon" color="primary" routerLink="/prescriptions">Prescriptions</button>
    </div>
    <div class="left-aligned">
      <button mat-mini-fab [matMenuTriggerFor]="menu" color="accent"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <div class="menu">
          <button mat-flat-button class="nav-icon menu" color="accent" routerLink="/user">{{name | titlecase}}</button>
          <button mat-flat-button class="nav-icon menu" color="warn" (click)="logout()">Sign out</button>
        </div>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
