@use '@angular/material' as mat;
@use 'sass:map';

@import '../styles.scss';
$color-config: mat.get-color-config($medpr-angular-theme);

$primary: map.get($color-config, 'primary');

.materialistic{
  margin: 2rem;
  padding: 1rem;
  border-radius: 4px;
  .selected{
    border: 2px;
    color: mat.get-color-from-palette($primary, 800);
  }

  color: mat.get-color-from-palette($primary, 200);
  background-color: mat.get-color-from-palette($primary, 300);
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.right-aligned{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-aligned{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.nav-icon{
  margin-left: 5px;
  margin-right: 5px;
  &.menu{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
