@model FamilyModel

<div class="row align-items-center">
    <h2>
        @Html.DisplayFor(modelItem => Model.Surname)
    </h2>
</div>
<br>
<div class="row align-items-center">
    @foreach (var member in Model.Members)
    {
        await Html.RenderPartialAsync("../FamilyMembers/Edit.cshtml", member, ViewData);
    }
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


