@model List<FamilyModel>

@{
    ViewData["Title"] = "All families";
}

<div class="container text-center">
    @if (Model != null)
    {
        var currentUser = Guid.Parse(ViewData["CurrentUser"].ToString());
        foreach (var family in Model)
        {
            var creator = Guid.Parse(ViewData[$"Creator of {family.Surname}"].ToString());

            <div class="row align-items-center">
                @{
                    await Html.RenderPartialAsync("FamilyPartial", family, ViewData);
                }
            </div>
            @if (family.Members.Count > 1){
                <hr />
            }            
            @if (creator == currentUser || User.IsInRole("Admin")){
                <div class="row align-items-center">
                    <div class="col">
                        <form action="/Families/Delete/@family.Id" method="post">
                            <input type="submit" class="btn btn-outline-danger" value="Remove @family.Surname">
                        </form>
                    </div>
                </div>
                <br />
            }
        }
    }
    else
    {
        <div class="row align-items-center">
            <div class="col">
                <h2>No families found in database</h2>
                <h4>Add new family to your user?</h4>
            </div>
        </div>
    }
    <br>
    <div class="row align-items-center justify-content-center">
        <a class="btn btn-primary col-auto" asp-action="Create" asp-controller="Families">Add family</a>
    </div>
</div>
