@model List<FamilyModel>

@{
    ViewData["Title"] = "All families";
}

<div class="container text-center">
    @if (Model != null)
    {
        foreach (var family in Model)
        {
            <div class="row align-items-center">
                <div class="col-10">
                    @{
                        await Html.RenderPartialAsync("FamilyPartial", family);
                    }
                </div>
                <div class="col">
                    <a class="btn btn-primary" href="~/families/details/@family.Id">Read details</a>
                </div>
            </div>
            <br>
        }
    }
    else
    {
        <div class="row align-items-center">
            <div class="col">
                <h2>No families found in database</h2>
                <h4>Add new family to your user?</h4>
            </div>
        </div>
    }
    <br>
    <br>
    <div class="row align-items-center justify-content-md-center">
        <a class="btn btn-primary col-sm-4" asp-action="Create" asp-controller="Families">Add family</a>
    </div>
</div>
