@use '@angular/material' as mat;
@import '/src/styles.scss';

$typography-config: mat.get-typography-config($medpr-angular-theme);
$font-family: mat.font-family($typography-config);

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.error-icon{
  margin-left: 10px;
  zoom: 1.5;
}

.back{
  margin-right: 10px;
}
