@use '@angular/material' as mat;

@import 'src/styles.scss';

$typography-config: mat.get-typography-config($medpr-angular-theme);
$font-family: mat.font-family($typography-config);

.create-form{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 10px;
  justify-content: flex-start;
  transition-duration: 1s;
}

.form{
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: $font-family;
}

mat-card-actions{
  justify-content: space-evenly;
}


