<div [class]="isCurrentUserCreator ? 'creator' :
  isCurrentUserIn ? 'member' : 'nonmember'" class="row">

  <div class="family-info">
    <div matListItemTitle class="row-title">
      <mat-icon matListItemIcon class="group-icon">group</mat-icon>
      {{family?.surname | titlecase}}
    </div>
    <div matListItemLine class="row-subtitle">{{creatorName | titlecase}}</div>
  </div>

  <div class="row-action" *ngIf="isCurrentUserIn && !isCurrentUserCreator">
    <mat-icon>done</mat-icon>
  </div>
  <div class="row-action" *ngIf="isCurrentUserCreator">
    <mat-icon>done_all</mat-icon>
  </div>
  <button mat-icon-button class="row-action" *ngIf="!isCurrentUserIn" (click)="join()">
    <mat-icon>group_add</mat-icon>
  </button>
</div>
