<mat-card [class.selected]="selected">
  <!-- Blank creation -->
  <div *ngIf="!vaccine && !selected">
    <mat-card-content>
      <button mat-flat-button (click)="createFromBlank()">
        <mat-icon>add</mat-icon>
        Create from blank
      </button>
    </mat-card-content>
  </div>

  <!-- Selected blank creation  -->
  <div *ngIf="!vaccine && selected">
    <create-vaccine (deselect)="selectToggle()"></create-vaccine>
  </div>

  <!-- Vaccine -->
  <div *ngIf="vaccine && !selected">
    <mat-card-header>
      <mat-card-title class="row">
        <div>{{vaccine.name | trim}}</div>
        <button mat-mini-fab color="warn" class="edit-button" (click)="selectToggle()">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>{{vaccine.reason}}</mat-card-content>
    <mat-card-content>{{vaccine.price | currency}}</mat-card-content>
  </div>

  <!-- Selected vaccine  -->
  <div *ngIf="vaccine && selected">
    <edit-vaccine [vaccine]="vaccine" (deselect)="selectToggle()"></edit-vaccine>
  </div>
</mat-card>







