@model UserModel

@{
    ViewData["Title"] = "User info";
}

<table class="table table-borderless">
    <tbody>
        <tr>
            <td>
                @{await Html.RenderPartialAsync("UserPartial", Model);}
            </td>
            <td>
                <a class="btn btn-primary" href="~/users/edit/@Model.Id">Edit</a>
                <a class="btn btn-danger" href="~/users/delete/@Model.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

@*This page will contain:
    CRUD buttons
    additional information like user description paper or wikiAPI*@
