@model List<UserModel>

@{
    ViewData["Title"] = "All users";
}

<table class="table table-borderless">
    <tbody>
        @if (Model != null)
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>
                        @{await Html.RenderPartialAsync("UserPartial", user);}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="~/users/details/@user.Id">Read details</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <h2>No users found in database</h2>
            <h4>Add new user to this app?</h4>
        }
    </tbody>
</table>

<br>
<br>
<div>
    <a class="btn btn-primary" asp-action="Register" asp-controller="Users">Add user</a>
</div>
