@model UserModel

<div>
    <h2>
        Login: @Html.DisplayFor(modelItem => Model.Login)
    </h2>
    @if(Model.FullName != null) {
        <h5>
            With username @Html.DisplayFor(modelItem => Model.FullName)
        </h5>
    }
    else{
        <h5>
            Username has not been filled yet 
        </h5>
    }
    @if(Model.DateOfBirth != null){
        <div>
            first appeared on Earth <i>@Html.DisplayFor(modelItem => Model.DateOfBirth)</i>
        </div>
    }
    else{
        <div>
            Date of birth has not been provided yet
        </div>
    }
</div>


