@model UserCredentialsModel

<div>
    <h3>
        @Html.DisplayFor(modelItem => Model.Name)
        @Html.DisplayFor(modelItem => Model.Surname)
    </h3>
    <h5>
        @Model.Login
    </h5>
    <div>
        @Model.DateOfBirth
    </div>
</div>


