@use '@angular/material' as mat;
@import '/src/styles.scss';

$typography-config: mat.get-typography-config($medpr-angular-theme);
$font-family: mat.font-family($typography-config);

.family-tabs{
  margin-top: 3vh;
  display: flex;
  width: 50vw;
  min-width: 0;
}

.fisrt-tab{
  display: flex;
}

.search{
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.feed{
  max-height: 100px;
  overflow: scroll;
}
