@model DoctorModel

<div>
    <h3>
        @Html.DisplayFor(modelItem => Model.Name)
    </h3>
    <h5>
        has @Html.DisplayFor(modelItem => Model.Experience) years of experience
    </h5>
</div>


