@model FamilyMemberModel
@{
    ViewData["Title"] = "Update family ties";
}

<div>
    <h1>Update family ties</h1>

    <form asp-controller="FamilyMembers" asp-action="Edit" method="post" class="row gx-3 gy-2 align-items-center">
        <div class="col-sm-3">
            <label for="family" class="form-label"></label>
            <select asp-for="FamilyId" asp-items="@Model.Families" id="family">
            </select>
            <span asp-validation-for="FamilyId" class="text-danger"></span>
            <a class="btn btn-primary" asp-action="Create" asp-controller="Families">Add doctor</a>
        </div>
        <div class="col-sm-3">
            <label for="user" class="form-label"></label>
            <select asp-for="UserId" asp-items="@Model.Users" id="user">
            </select>
            <span asp-validation-for="UserId" class="text-danger"></span>
            <a class="btn btn-primary" asp-action="Register" asp-controller="Users">Add user</a>
        </div>
        <div class="col-sm-3">
            <label for="isAdmin" class="form-check-label">Can see family info</label>
            <input asp-for="IsAdmin" id="isAdmin" class="form-check-input">
            <span asp-validation-for="IsAdmin" class="text-danger"></span>
        </div>


        <input type="submit" class="btn btn-primary" value="Submit">

    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
