@model List<FamilyMemberModel>

@{
    ViewData["Title"] = "Family ties";
}

<table class="table table-borderless">
    <tbody>
        @if (Model != null)
        {
            foreach (var familyMember in Model)
            {
                <tr>
                    <td>
                        @{await Html.RenderPartialAsync("FamilyMemberPartial", familyMember);}
                    </td>
                    <td>
                        <a class="btn btn-primary row align-items-center" href="~/familyMembers/details/@familyMember.Id">Read more</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <h2>No family ties found in database</h2>
            <h4>Add new family tie to this app?</h4>
        }
    </tbody>
</table>

<br>
<br>
<div>
    <a class="btn btn-primary" asp-action="Create" asp-controller="FamilyMembers">Add familyMember</a>
</div>
