<div class="container text-center">

  <div *ngIf="randomDrug" class="row align-items-center">
    <div class="col fs-6">
      Name: {{randomDrug.name}}
    </div>
    <div class="col fs-6">
      EPC class: {{randomDrug.pharmGroup}}
    </div>
  </div>

  <hr />

  <div *ngFor="let drug of drugs; let i = index" class="row align-items-center">
    <div class="col fs-4">
      Name: {{drug.name}}
    </div>
    <div class="col fs-4">
      Group: {{drug.pharmGroup}}
    </div>
    <div class="col fs-4">
      Price: {{drug.price}}
    </div>
    <br />
  </div>
</div>
