@model DrugModel

@{
    ViewData["Title"] = "Drug detail";
}

<div>
    @{
        await Html.RenderPartialAsync("DrugDetailsPreview", Model);
    }
</div>

@*This page will contain:
    CRUD buttons
    additional information like drug description paper or wikiAPI*@
