@model DrugDTO

@{
    ViewData["Title"] = "Drug detail";
}

<div>
    <h3>
        @Model.Name
    </h3>
    <h5>
        @Model.PharmGroup
    </h5>
    <div>
        @Model.Price
    </div>
</div>
