@model VaccineModel

@{
    ViewData["Title"] = "Vaccine detail";
}

<table class="table table-borderless">
    <tbody>
        <tr>
            <td>
                @{await Html.RenderPartialAsync("VaccineDetailsPreview", Model);}
            </td>
            <td>
                <a class="btn btn-primary" href="~/vaccines/edit/@Model.Id">Edit</a>
                <a class="btn btn-danger" href="~/vaccines/delete/@Model.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

@*This page will contain:
    CRUD buttons
    additional information like vaccine description paper or wikiAPI*@
