mat-card{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 10px;
  justify-content: flex-start;
  transition-duration: 0.5s;
  &.selected{
    z-index: 1;
    scale: 105%;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
    transition-duration: 0.5s;
  }
}

mat-card:hover{
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
  transition-duration: 0.5s;
}

mat-card-header {
  display: block;
}

.row{
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  .disclaimer{
    font-size: 12px;
  }
}

.edit-button{
  opacity : 0;
  transition-duration: 0.5s;
  &:hover, &:focus{
    opacity: 100;
  transition-duration: 0.5s;
  }
}

.create-button{
  display: flex;
  justify-content:center;
}
