<div class="container">
  <mat-card @insert *ngIf="user" class="appointmentInfo">
    <profile-info [user]="user"></profile-info>
  </mat-card>

  <div *ngIf="user" class="connect">
    <mat-icon color="accent">attachment</mat-icon>
  </div>

  <mat-card @insert *ngIf="doctor"  class="appointmentInfo">
    <doctor-info [doctor]="doctor"></doctor-info>
  </mat-card>

  <div *ngIf="doctor" class="connect">
    <mat-icon color="accent">attachment</mat-icon>
  </div>

  <mat-card [class.selected]="selected" class="main">
    <!-- Blank creation -->
    <div *ngIf="!appointment && !selected">
      <mat-card-content>
        <button mat-flat-button (click)="selectToggle()">
          <mat-icon>add</mat-icon>
          Create from blank
        </button>
      </mat-card-content>
    </div>

    <!-- Selected blank creation  -->
    <div *ngIf="!appointment && selected">
      <create-appointment (deselect)="selectToggle()"></create-appointment>
    </div>

    <!-- Appointment -->
    <div *ngIf="appointment && !selected">
      <mat-card-header>
        <mat-card-title class="row">
          <div>{{appointment.date | date:'fullDate'}}</div>
          <button mat-mini-fab color="warn" class="edit-button" (click)="selectToggle()">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>{{appointment.place}}<mat-icon>location_on</mat-icon></mat-card-content>
    </div>

    <!-- Selected appointment  -->
    <div *ngIf="appointment && selected">
      <edit-appointment [appointment]="appointment"
        (deselect)="selectToggle()">
      </edit-appointment>
    </div>
  </mat-card>
</div>








